* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    width: 100%;
}

.div {
    background-color: black;
    color: rgb(251, 251, 251);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px #00000099;
    padding: 10px 15px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 15px;
}
